data/
analysis/data
plots/
__pycache__/
__pycache__/senator.cpython-37.pyc
__pycache__/bill.cpython-37.pyc
.ipynb_checkpoints/
__pycache__/utils.cpython-37.pyc
paper/econ1425_paper.pdf
paper/econ1425_paper.synctex.gz
paper/econ1425_paper.bcf
paper/econ1425_paper.run.xml
